<?xml version="1.0" encoding="utf-8"?> 
<configuration>

    <!-- DefaultPushSource key is similar to the 'DefaultPushSource' key of NuGet.Config schema-->
    <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org -->
    <config>
        <add key="DefaultPushSource" value="https://api.nuget.org/v3/index.json" />
    </config>

 <packageSources> <!--To inherit the global NuGet package sources remove the <clear/> line below --> 
   <clear /> 
   <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
   <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
 </packageSources>
 </configuration>