name: Continuous Integration

on: push

env:
  Configuration: Release
  ContinuousIntegrationBuild: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  package:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    name: Run tests and create NuGet package
    outputs:
      coverage-reports: ${{ steps.dotnet-test.outputs.coverage-reports }}
      version: ${{ steps.dotnet-pack.outputs.version }}
      nupkg-filename: ${{ steps.dotnet-pack.outputs.nupkg-filename }}
      release-body: ${{ steps.tag-message.outputs.release-notes }}
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v2

      - name: Retrieve cached NuGet packages
        uses: actions/cache@v2
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: Restore NuGet packages
        run: dotnet restore

      - name: Build solution
        run: dotnet build

      - name: Run tests
        run: dotnet test --no-build --logger "html;LogFileName=../../TestResults-${{ runner.os }}.html" --logger "trx;LogFileName=../../TestResults-${{ runner.os }}.trx" --logger GitHubActions
        id: dotnet-test
      
      - name: Upload received files from failing tests
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: Received-${{ runner.os }}
          path: "**/*.received.*"

      - name: Upload test results
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: TestResults-${{ runner.os }}
          path: TestResults-${{ runner.os }}.html

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Test Results (${{ runner.os }})
          path: TestResults-${{ runner.os }}.trx
          reporter: dotnet-trx

      - name: Create NuGet package
        run: dotnet pack --no-build --output .
        id: dotnet-pack
    
      # - name: Upload NuGet package artifact
      #   if: matrix.os == 'macos-latest'
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: ${{ steps.dotnet-pack.outputs.nupkg-filename }}
      #     path: ${{ steps.dotnet-pack.outputs.nupkg-filename }}
    
      - name: Retrieve tag message
        if: matrix.os == 'macos-latest'
        run: |
          git fetch --tags --force
          RELEASE_NOTES=$(git tag --list ${{ steps.dotnet-pack.outputs.version }} --format='%(contents)')
          RELEASE_NOTES="${RELEASE_NOTES//'%'/%25}"
          RELEASE_NOTES="${RELEASE_NOTES//$'\n'/%0A}"
          RELEASE_NOTES="${RELEASE_NOTES//$'\r'/%0D}"
          echo "::set-output name=release-notes::$RELEASE_NOTES"
        id: tag-message
  
  publish:
    runs-on: ubuntu-latest
    needs: package
    if: startsWith(github.ref, 'refs/tags/')
    name: Publish NuGet package and create GitHub release
    steps:
      - name: Download NuGet package artifact
        uses: actions/download-artifact@v2
        with:
          name: ${{ needs.package.outputs.nupkg-filename }}
          
      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.package.outputs.version }}
          release_name: Version ${{ needs.package.outputs.version }}
          body: ${{ needs.package.outputs.release-body }}
          draft: false
          prerelease: ${{ contains(needs.package.outputs.version, '-') }}

      - name: Publish NuGet package on nuget.org
        run: dotnet nuget push ${{ needs.package.outputs.nupkg-filename }} --source https://api.nuget.org/v3/index.json --api-key "${{ secrets.NUGET_API_KEY }}"