name: Continuous Integration

on: 
  push:
  pull_request:
  release:
    types:
      - published
env:
  Configuration: Release
  ContinuousIntegrationBuild: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

  # GitHub Packages Feed settings
  GITHUB_FEED: https://nuget.pkg.github.com/serilog-contrib/
  GITHUB_USER: mivano
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  package:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    name: Run tests and create NuGet package
    outputs:
      coverage-reports: ${{ steps.dotnet-test.outputs.coverage-reports }}
      version: ${{ steps.dotnet-pack.outputs.version }}
      nupkg-filename: ${{ steps.dotnet-pack.outputs.nupkg-filename }}
      release-body: ${{ steps.tag-message.outputs.release-notes }}
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v2

      - name: Retrieve cached NuGet packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: Restore NuGet packages
        run: dotnet restore

      - name: Build solution
        run: dotnet build --no-restore -c Release

      - name: Run tests
        run: dotnet test --no-build -c Release --logger "html;LogFileName=TestResults-${{ runner.os }}.html" --logger "trx;LogFileName=TestResults-${{ runner.os }}.trx" --logger GitHubActions
        id: dotnet-test
      
      - name: Upload received files from failing tests
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: Received-${{ runner.os }}
          path: "**/*.received.*"

      - name: Upload test results
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: TestResults-${{ runner.os }}
          path: TestResults-${{ runner.os }}.html

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Test Results (${{ runner.os }})
          path: '**.trx'
          reporter: dotnet-trx

      - name: Create NuGet packages
        run: dotnet pack --no-build -c Release --version-suffix "ci-$GITHUB_RUN_ID" --include-symbols --include-source --output .
        id: dotnet-pack
    
      - name: Upload NuGet package artifact        
        uses: actions/upload-artifact@v2
        with:
          name: nuget
          path: '**/*.nupkg'
   
  prerelease:
    needs: package
    name: Create prerelease 
    if: github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v1
        with:
          name: nuget

      - uses: tanaka-takayoshi/nuget-publish-to-github-packages-action@v2.1
        with:
          nupkg-path:  './nuget/*.nupkg'
          repo-owner:  '$GITHUB_USER'
          gh-user:  '$GITHUB_USER'
          token:  ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    needs: package
    if: github.event_name == 'release'
    name: Publish NuGet package 
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v2

      - name: Retrieve cached NuGet packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: Restore NuGet packages
        run: dotnet restore

      - name: Create Release NuGet package
        run: |
          arrTag=(${GITHUB_REF//\// })
          VERSION="${arrTag[2]}"
          VERSION="${VERSION//v}"
          dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion=$VERSION -o nupkg
      
      - name: Push to GitHub Feed
        run: |
          for f in ./nupkg/*.nupkg
          do
            curl -vX PUT -u "$GITHUB_USER:$GITHUB_TOKEN" -F package=@$f $GITHUB_FEED
          done

      - name: Publish NuGet package on nuget.org
        run: dotnet nuget push nuget/*.nupkg --source https://api.nuget.org/v3/index.json --api-key "${{ secrets.NUGET_API_KEY }}"